<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Cookie Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Log New Order</h1>
        <form action="/cookies" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{message}}</p>

                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="cookie_type">Cookie Type</label>
                <input type="text" name="cookie_type" class="form-control" id="cookie_type" placeholder="Ex. Chocolate Chip">
            </div>

            <div class="form-group">
                <label for="num_boxes">Number of Boxes</label>
                <input type="number" name="num_boxes" class="form-control" id="num_boxes">
            </div>

                <input type="submit" class="form-control" value="Submit">
        </form>
    </div>
</body>
</html>